<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Head Over Beans Café</title>
</head>
<header>
    <h1> Head Over Beans Café</h1>
    <nav>
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#menu">Menu</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </header>

<body><!-- About Section -->
  <section id="about">
    <h2>About Us</h2>
    <p> Welcome to head over beans, where every cup is more than just a coffe; it's a story, a smile, and littel moment of happiness.
        We started this cafe` with a simle dream: to create a cozy corner where people can pause from the busy world, enjoy a perfectly brewed coffee,and feel at home.Our passion for coffee goes beyond taste- we belive in bringing people together,one cup at a time.
    <h3> "WHAT MAKES US SPECIAL?"</h3>
<br><b>*Handpicked beans:</b> We carefully select quality beans to give you rich flavor and a smooth finish.
       <br><b> *Signature brew and delight:</b> From creamy cappuccinos to refreshing cold brews and unique seasonal specials,there's always something new to try 
       <br> <b>*Cozy vibes:</b> whether you are here to work , laugh with friends, or just enjoy some "me time", our space is designed to make you feel comfortable.
        <br><b>*Community and care: </b>We love being more than a cafe`- we are a place where conversations flow and friendship bloom.
        <br>
        <br>
   <b><i>" So ,pull up the chair, breathe in the aroma,and let us make your day better , one cup at a time." </i></b>🌿</p>
  </section></body></html>